.lang-zh {
  font-family: SimSun, "宋体", "Times New Roman", serif;
}

.lang-zh .post-content {
  font-size: 12pt;
  line-height: 1.5;
}

.lang-zh .post-content p {
  margin-block-start: 1.5em;
  margin-block-end: 0;
  text-indent: 2em;
}
