---
layout: default
---

<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.css">
<script src="https://cdn.jsdelivr.net/npm/gitalk@1/dist/gitalk.min.js"></script>

<small>{{ page.date | date: "%-d %B %Y" }}</small>
<h1>{{ page.title }}</h1>

<p class="view">by {{ page.author | default: site.author }}</p>

{{content}}

{% if page.tags %}
<small>tags: <em>{{ page.tags | join: "</em> - <em>" }}</em></small>
{% endif %}

<div id="gitalk-container"></div>
<script>
  const gitalk = new Gitalk({
    clientID: 'd48e8b01472c55f16765',
    clientSecret: '34bdba1a963f22d7378e358dc699a4402e034802',
    repo: 'thiswind.github.io',      // The repository of store comments,
    owner: 'thiswind',
    admin: ['thiswind'],
    id: location.href,      // Ensure uniqueness and length less than 50
    distractionFreeMode: false  // Facebook-like distraction free mode
  })

  gitalk.render('gitalk-container')
</script>